<div class ="edit-container"> 
  <h2 class ="edit-title">Your Info</h2>
  <%= render 'books/errors', error: @user %>
  
    <%= form_for(@user) do |f| %>
    
    <div class="field">
      <%= f.label :Nickname %><br>
      <%= f.text_field :nickname, class: "name" %>
    </div>
  
    <div class="field">
      <%= f.label :Image %>
      <br>
      <%= f.attachment_field :user_image, class: "user_image" %>
    </div>
  
    <div class="field">
      <%= f.label :introduces %><br>
      <%= f.text_area :introduces, class: "introduction" %>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
</div>
