<div class='row'>
  
  <div class='col-xs-3'>
    <h2>User Info</h2>
    <%= render 'info', user: current_user %>

    <h2>New book</h2>
    <%= render 'books/form', book: @book %>

  </div>
  <div class='col-xs-9'>
    <h2>Users</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>Image</th>
          <th>Nickname</th>
          <th></th>
          <th></th>
          <th></th>
          <th>UserInfo</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= attachment_image_tag(user, :user_image, :fill, 60, 60, fallback: "no-image-icon.jpg") %></td>
            <td><%= user.nickname %></td>
            <td>フォロー数: <%= user.followings.count %></td>
            <td>フォロワー数: <%= user.followers.count %></td>
            <td>
              <% unless current_user == user %>
                <% if current_user.following?(user) %>
                  <%= link_to "フォロー解除", user_relationship_path(user, user.id), method: :delete, class: "btn btn-danger" %>
                <% else %>
                  <%= link_to "フォローする", user_relationships_path(user), method: :post, class: "btn btn-primary" %>
                <% end %>
              <% else %>
                <%= link_to "マイページへ", user_path(current_user), class: "btn btn-default btn-success" %>
              <% end %>
            </td>
            <td><%= link_to 'Show', user, class: "user_#{user.id}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>