<!DOCTYPE html>
<html>
  <head>
    <title>BookStack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="header container">
        <nav class='nav navbar-nav navbar-left' >
        <%= link_to books_path, method: :get do %>
          <h1 class ="app-title"><span class='glyphicon glyphicon-book'>BookStack</h1>
        <% end %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to ' YOURS',user_path(current_user),class: 'glyphicon glyphicon-home home' %></li>
              <li><%= link_to ' USERS',users_path,class: 'glyphicon glyphicon-user users' %></li>
              <li><%= link_to ' STACKS',books_path ,class: 'glyphicon glyphicon-book books'%></li>
              <li><%= link_to ' SIGNOUT', destroy_user_session_path, method: :delete,class: 'glyphicon glyphicon-log-out logout' %></li>
            <% else %>
              <li><%= link_to ' TOP',root_path,class: 'glyphicon glyphicon-home home' %></li>
              <li><%= link_to ' Sign Up', new_user_registration_path,class: 'glyphicon glyphicon-edit sign_up' %></li>
              <li><%= link_to ' Sign In', new_user_session_path ,class: 'glyphicon glyphicon-log-in sign_in'%></li>
            <% end %>
          </ul>
        </nav>
        <!--検索フォーム-->
        <% unless current_page?(root_path) %>
        <% if user_signed_in? %>
        <div class="search-form">
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.text_field :word %>
            <%= f.select :mode, options_for_select([['User'],['Book']]), {include_blank: "選択してください"} %>
            <%= f.select :search, options_for_select([["完全一致","1"],["前方一致","2"],["後方一致","3"],["部分一致","4"]]), {include_blank: "選択してください"} %>
            <%= f.submit "検索", class: "btn btn-info" %>
          <% end %>
        </div>
        <% end %>
        <% end %>
      </div>
    </header>

  	<div class='body'>
      <div class='container body-container'>
        <p id="notice"><%= notice %></p>
      	<%= yield %>
      </div>
    </div>
    
    <footer>
      <div class='container'>
  	    <div class='row'>
    	    <div class='col-xs-3 col-xs-offset-4'>
    	    	<p class ="copy">CopyRight ©︎ 2020 Ren Yoshizawa All Rights Reserved.</p>
    	    </div>
        </div>
      </div>
    </footer>
  </body>
</html>
