<!DOCTYPE html>
<html>
  <head>
    <title>BookStack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="header container">
        <nav class='nav navbar-nav navbar-left' >
          <h1 class ="app-title"><span class='glyphicon glyphicon-book'>BookStack</h1>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to ' YOURS',user_path(current_user),class: 'glyphicon glyphicon-home home' %></li>
              <li><%= link_to ' USERS',users_path,class: 'glyphicon glyphicon-user users' %></li>
              <li><%= link_to ' STACKS',books_path ,class: 'glyphicon glyphicon-book books'%></li>
              <li><%= link_to ' SIGNOUT', destroy_user_session_path, method: :delete,class: 'glyphicon glyphicon-log-out logout' %></li>
            <% else %>
              <li><%= link_to ' TOP',root_path,class: 'glyphicon glyphicon-home home' %></li>
              <!--<li><!%= link_to ' STACKS', books_path, class: 'glyphicon glyphicon-align-justify' %></li>-->
              <li><%= link_to ' Sign Up', new_user_registration_path,class: 'glyphicon glyphicon-edit sign_up' %></li>
              <li><%= link_to ' Sign In', new_user_session_path ,class: 'glyphicon glyphicon-log-in sign_in'%></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

  	<div class='body'>
      <div class='container'>
        <p id="notice"><%= notice %></p>
      
      	<%= yield %>
      	
      </div>
    </div>
    
    <footer>
      <div class='container'>
  	    <div class='row'>
    	    <div class='col-xs-3 col-xs-offset-4'>
    	    	<p class ="copy">CopyRight ©︎2020 Ren Yoshizawa All Rights Reserved.</p>
    	    </div>
        </div>
      </div>
    </footer>
  </body>
</html>
